<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

<script>document.documentElement.classList.add('js');</script>

<title>
  {% if page.title %}{{ page.title }} · {% endif %}{{ site.title | default: "M. Josiah Sytsma" }}
</title>

<meta name="description" content="{% if page.description %}
    {{ page.description }}
  {% else %}
    Music, sound design, and audio systems by M. Josiah Sytsma
  {% endif %}">

<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

{% include favicon.html %}