/* Prose / post content polish */

.post,
article {
  max-width: 680px;
}

.post p,
article p {
  line-height: 1.65;
  margin: 0 0 1rem;
}

/* Tighter spacing for applets in posts */
.post .applet,
article .applet {
  margin: 1.5rem 0;
}

.post a,
article a {
  color: inherit;
  text-underline-offset: 3px;
}

.post code,
article code {
  font-family: var(--code-font);
  font-size: 0.95em;
}
