/* Prose / post content polish */

.post,
article {
  max-width: 680px;
}

.post p,
article p {
  line-height: 1.65;
  margin: 0 0 1rem;
}

.post a,
article a {
  color: inherit;
  text-underline-offset: 3px;
}

.post code,
article code {
  font-family: var(--font-mono);
  font-size: 0.95em;
}
