/* =========================
   Inline footnote markers
   ========================= */

sup.footnote {
  font-size: 0.7em;
  line-height: 0;
  vertical-align: super;
  margin-left: 0.05em;
}

sup.footnote a {
  text-decoration: none;
  opacity: 0.65;
  transition: opacity 0.15s ease;
}

sup.footnote a:hover {
  opacity: 1;
}


/* =========================
   Footnotes block (kramdown)
   ========================= */

.footnotes {
  margin-top: 3rem;
  padding-top: 1.25rem;

  border-top: 1px solid var(--border);
  font-size: 0.92em;
  line-height: 1.55;
}

.footnotes ol {
  margin: 0;
  padding-left: 1.25rem;
}

.footnotes li {
  margin: 0.6rem 0;
}

/* Back-reference arrow */
.footnotes .reversefootnote {
  text-decoration: none;
  opacity: 0.4;
  margin-left: 0.4rem;
}

.footnotes .reversefootnote:hover {
  opacity: 0.8;
}


/* =========================
   Optional Works Cited block
   ========================= */

.refs {
  margin-top: 3rem;
  padding-top: 1.25rem;

  border-top: 1px solid var(--border);
}

.refs h2,
.refs h3 {
  margin-top: 0;
}

.refs ol {
  margin: 0;
  padding-left: 1.25rem;
}

.refs li {
  margin: 0.6rem 0;
}


/* =========================
   Links inside citations
   ========================= */

.footnotes a,
.refs a {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  opacity: 0.8;
}

.footnotes a:hover,
.refs a:hover {
  opacity: 1;
}